<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
    version="2.4">
<taglib>
  <taglib-uri>http://myFunc/Functions</taglib-uri>
  <taglib-location>/WEB-INF/tlds/functions.tld</taglib-location>
</taglib>

</web-app>